version = 1

[about]
identifier = "Example Server"
banner_url = "https://raw.githubusercontent.com/Blooym/GoodFriend/main/.assets/api-banner.png"

[about.motd]
message = ""
ignore = true

[about.custom_urls]
"Example" = "https://example.com"
