version = 1

[about]
identifier = "Example Server"
banner_url = "https://raw.githubusercontent.com/Blooym/GoodFriend/main/src/Api/static/banner.png"
description = "Hello! This is an example Description!"

[about.custom_urls]
"Example" = "https://example.com"

[authentication]
tokens = ["MySuperSecretToken"]