# App Settings 
# PORT: Where your app will be accessed on the machine running it.
# HOST_PORT: Where your app will be accessed on the machine running it (used in docker-compose).
# NODE_ENV: The environment your app is running in.
# STATUS_PAGE_URL: The URL of your status page, leave blank for none.
# DONATION_PAGE_URL: The URL of your donation page, leave blank for none.
# NEW_API_URL: The API URL to recommend that clients move to.
PORT =
DOCKER_HOST_PORT =
NODE_ENV =
DOMAIN_URL = 
STATUS_PAGE_URL =
NEW_API_URL =


# Security Settings
# TRUST_PROXY: If you are running behind a proxy, set this to "true" to trust the proxy's IP address as the client's IP address.
# RATELIMIT_RESET_MINS: The number of minutes to wait before resetting the ratelimit counter. 
# REQUESTS_PER_RESET: The number of requests allowed in the reset window.
# BANNED_USERAGENTS: Useragents that should be blocked from accessing the API.
TRUST_PROXY =
RATELIMIT_RESET_MINS =
REQUESTS_PER_RESET =
BANNED_USERAGENTS =



# Authenticated Endpoint Settings
# DISABLE_AUTH_ENDPOINTS: If true, all authenticated endpoints will be disabled.
# AUTH_TOKEN: The token to use for authentication on all authenticated endpoints (Blank: all auth endpoint requests will fail).
AUTH_TOKEN =