# App Settings 
# PORT: Where your app will be accessed on the machine running it (default: 8000)
# HOST_PORT: Where your app will be accessed on the machine running it (used in docker-compose) (default: 8000)
# NODE_ENV: The environment your app is running in (default: development)
PORT = 
DOCKER_HOST_PORT =
NODE_ENV = development



# SSL Settings
# SSL_CERTFILE & SSL_KEYFILE: The paths of the SSL certificate and key files, leave blank if you want to launch a HTTP server & manage SSL elsewhere.
SSL_CERTFILE =
SSL_KEYFILE =



# Logs Settings
# DAYS_TO_KEEP: How many days to keep the logs in the logs directory.
DAYS_TO_KEEP = 7d



# Authenticated Endpoint Settings
# DISABLE_AUTH_ENDPOINTS: If true, all authenticated endpoints will be disabled.
# AUTH_TOKEN: The token to use for authentication on all authenticated endpoints (Blank: all auth endpoint requests will fail).
DISABLE_AUTH_ENDPOINTS =
AUTH_TOKEN = 