name: "Tag: Release"

on:
  push:
    tags:
      - "v*.*.*.*"

permissions:
  contents: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  Release-Plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get Tag Name
        run: echo "tag=$(echo ${{ github.ref }} | sed 's/refs\/tags\///' | sed 's/v//')" >> $GITHUB_ENV

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Restore Dependencies
        working-directory: GoodFriend.Plugin
        run: dotnet restore

      - name: Download Dalamud Library
        working-directory: GoodFriend.Plugin
        run: |
          wget https://goatcorp.github.io/dalamud-distrib/latest.zip -O /tmp/dalamud.zip
          unzip /tmp/dalamud.zip -d /tmp/dalamud

      - name: Build Plugin
        shell: bash
        working-directory: GoodFriend.Plugin
        run: |
          dotnet build --configuration Release --nologo -p:AssemblyVersion=${{ env.tag }}
          sha512sum bin/Release/GoodFriend/latest.zip  >> checksums.txt
          sha512sum bin/Release/GoodFriend/GoodFriend.json >> checksums.txt
          cat checksums.txt
        with:
          env:
            DALAMUD_HOME: /tmp/dalamud
            IsCI: true

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          prerelease: false
          files: |
            GoodFriend.Plugin/bin/Release/GoodFriend/latest.zip
            GoodFriend.Plugin/bin/Release/GoodFriend/GoodFriend.json
            GoodFriend.Plugin/checksums.txt

  Release-Server:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Publish Image (Versioned)
        uses: docker/build-push-action@v3
        with:
          file: ./GoodFriend.Server/Dockerfile
          context: ./GoodFriend.Server/
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
